.scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    text-align: center;
}

.grid_size_container {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

select {
    background-color: #000;
    color: #fff;
}

.select_opponent {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    margin: 0 2px 0 10px;
}