.game_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: #fff;
    height: 100%;
}

.scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    text-align: center;
}

.board {
    display: flex;
    flex-wrap: wrap;
}

.grid_size_container {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

select {
    background-color: #000;
    color: #fff;
}

.select_opponent {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    margin: 0 2px 0 10px;
}

button {
    background-color: white;
    color: #000;
    border: none;
    width: 170px;
    height: 30px;
    border-radius: 6px;
    font-weight: 600;
}