.game_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 120px;
    height: 120px;
}

button {
    background-color: white;
    color: #000;
    border: none;
    width: 170px;
    height: 30px;
    margin-top: 20px;
    border-radius: 6px;
    font-weight: 600;
}