.game_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: #fff;
    height: 100%;
}

.board {
    display: flex;
    flex-wrap: wrap;
}

button {
    background-color: white;
    color: #000;
    border: none;
    width: 170px;
    height: 30px;
    border-radius: 6px;
    font-weight: 600;
}